/* Reset some default browser styles */
body, h1, h2, h3,h4, p, ul, ol, li,div,nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  
  /* Set a base font size and font family */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f0f0f0; /* Set your background color here */
  }
  
  /* Style the root container (usually an element with id="root") */
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Add styles for links */
  a {
    text-decoration: none;
    color: #007bff; /* Set link color */
    transition: color 0.2s;
  }
  
  a:hover {
    color: #0056b3; /* Set link color on hover */
  }
  
  /* Add global styles for buttons */
  button {
    cursor: pointer;
    background-color: #78A9FA; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none;
    /* padding: 10px 20px; */
    width: 90%;
    height: 7vh;
    border-radius: 15px;
    transition: background-color 0.2s;
    margin: 5px 0;
  }
 


  input{
    width: 90%;
    height: 7vh;
    border: 1px solid;
    border-radius: 15px;
    margin: 5px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #0056b3; /* Set button background color on hover */
  }
  

  .onselect{
    background-color: #0056b3
  }
  .container{
    
    padding: 20px;
    width: 80vw;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    background-color: #4A4A4A;
    border-radius: 20px;
    align-items: center;
    color: #f0f0f0;
  }

  .social-login-btn, .group-btn, .inactive{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8397B84A;
    position: relative;
  }

  .social-login-btn >svg, .group-btn > svg, .inactive >svg{
    position: absolute;
    left: 15px;;

  }

  .group-btn{
    background-color: #78A9FA;
  }

  .danger-btn{
    background-color: #FF3A3A;
  }

  .inactive{
    background-color: #3F4246;
  }
  .inactive:hover{
    background-color: #3F4246;
  }
  .active{

  }

  .leave-a-msg{
    width: 90%;
    height: 8vh;
    border-radius: 15px;
    text-align: center;
  }

  .quick-action{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 8vh;
    left: 0;
    padding:2px 20px;
    width: 100vw;
    
  }

  .quick-action button{
    width: 30%;
    height: 5vh;
  }

  .passenger-quick-action{
    width: 100vw;
    height: 90vh;
    overflow: scroll;
    position: relative;
    top:2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
 

  .passenger{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: x-large;
    color: #f0f0f0;
  }

  .passenger button{
    height: 4vh;
    width: 30vw;
  }
  .x-cancel-btn{
    width: 10vw;
    height: 10vw;
    background-color: inherit;
    font-size: large;
  }

  .x-cancel-btn:hover{
    background-color: #3F4246;
  }

  #top-bar{
    height: 8vh;
    width: 100vw;
    background-color: #1D1E21;
    position: absolute;
    top: 0;
     display: flex; 
    justify-content: flex-end; 
    padding: 0 20px;
  }
  .three-dot-menu{
    height: inherit;
    width: 10px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .three-dot-menu div{
    height: 3px;
    width: 3px;
    background-color: #fff;
    border-radius: 50%;
  }

  .menu{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: #5A5A5A;
    z-index: 2;
    padding: 0 10px;
  }
  .menu div{
    padding: 4px 10px;
    color: #ffffff;
  }
  .menu div:hover{
    background-color: #6b6a6a;
  }
  .menu div:last-child{
    color: #FF3A3A;
  }



  #chat-view{
    height: 80vh;
    position: relative;
    top: 5vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-color:  #5d5656;
    opacity: 1;
    border-radius: 15px;
    padding: 0px 20px 20px;
    z-index: 1;
    
  }
  #utility-bar{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  #utility-bar button{
    margin: 0 10px;
  }
  #chat-area{
    height: 78%;
    overflow: scroll;
    
  }
.my-chat,.your-chat,.instruction{
  padding: 10px;
  margin:  10px 0;
  color: #1D1E21;
}
.my-chat{
  background-color: #DFD1D1;
  border-radius: 0 10px ;
  
}
.your-chat{
  background-color: #ffffff;
  border-radius: 10px 0 ;
}
.instruction{
 display: flex;
  background-color: #5A7093;
  color: #ffffff;
}
.instruction div:first-child
{
  width: 90%;
}  
.instruction div:last-child
{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction div:last-child:hover
{
 background-color: #0056b3;
} 

#chat-input-div{
    height: 12%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
  }

  #chat-input{
    width: 85%;
    height: 80%;
    border-radius: 30px;
    background-color: #5A5A5A;
    color: #f0f0f0;
  }

  .chat-focus-btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #5A7093;
    position: absolute;
    right: 10px;
    bottom: 100px;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mention-suggestion{
    width:60vw;
    background-color:#1D1E21;
    color: #ffffff;
  }
  .mention-suggestion div{
    padding: 2px 10px;
  }
  .mention-suggestion div:hover{
    background-color: #78A9FA;
  }

  .round-btn{
    width: 30px ;
    height: 30px;
    border-radius: 50%;
  }
  .survey{
    width: 300px;
    padding: 5px;
    background-color: #4A4A4A;;
    position: absolute;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
    z-index: 10;
  }

  .survey div{
    text-align: left;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 15px;
    
  }
  .survey div:hover{
    background-color: #888e91;
  }
  .swipe-card{
    height: 40vh;
    width: 80vw;
    background-color: #4A4A4A;
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    /* top: -20vh;
    left: -35vw; */
  }
  .swipe-card-button-container{
      position: absolute;
      bottom: -5vw;
      left: 0;
      height: 10vw;
      width: inherit;
      display: flex;
      justify-content: space-around;
      padding:0 40px;
      align-items: center;
  
  }
  .swipe-card button{
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    background-color: #f0f0f0;
  }
  .swipe-card button:first-child{
    background-color: #FF3A3A;
  }
  .swipe-card button:last-child{
    background-color: #47c153;
  }
   
  .swipe-card button:hover{
    opacity: 0.8;
  }
  .profile-image{
    height: 50%;
  }
  .swipe-card {
    font-size: small;
  }

  .message-box{
    background-color: #4A4A4A;
    position: absolute;
    bottom: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    border: 2px solid #4A4A4A;
  }
  #events {
    max-height: 80vh;
  }