/* Reset some default browser styles */
body, h1, h2, h3,h4,h6, p, ul, ol, li,div,nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'
  }

  /* Set a base font size and font family */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f0f0f0; /* Set your background color here */
    display: flex;
    flex-direction: column;
   
  }
  
  /* Style the root container (usually an element with id="root") */
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Add styles for links */
  a {
    text-decoration: none;
    color: #007bff; /* Set link color */
    transition: color 0.2s;
  }
  
  a:hover {
    color: #0056b3; /* Set link color on hover */
  }
  
  /* Add global styles for buttons */
  button {
    cursor: pointer;
    background-color: #78A9FA; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none;
    /* padding: 10px 20px; */
    width: 90%;
    height: 7vh;
    border-radius: 15px;
    transition: background-color 0.2s;
    margin: 5px 0;
  }
 


  input{
    width: 90%;
    height: 7vh;
    border: 1px solid;
    border-radius: 15px;
    margin: 5px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #0056b3; /* Set button background color on hover */
  }
  

  .onselect{
    background-color: #0056b3
  }
  .container{
    
    margin-top: 20px;
    height: inherit;
    overflow-y: scroll;
    width: 100%;
    align-items: center;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
  }

  .social-login-btn, .group-btn, .inactive{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8397B84A;
    position: relative;
  }

  .social-login-btn >svg, .group-btn > svg, .inactive >svg{
    position: absolute;
    left: 15px;;

  }

  .group-btn{
    background-color: #78A9FA;
  }

  .danger-btn{
    background-color: #FF3A3A;
  }

  .inactive{
    background-color: #3F4246;
  }
  .inactive:hover{
    background-color: #3F4246;
  }
  .active{

  }

  .leave-a-msg{
    
    height: 8vh;
    border-radius: 15px;
    text-align: left;
  }

  .quick-action{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 8vh;
    left: 0;
    padding:2px 60px;
    width: 100%;
    
  }

  .quick-action button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
  }

  .passenger-quick-action{
    width: 100vw;
    height: 90vh;
    overflow: scroll;
    position: relative;
    top:2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
 

  .passenger{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: x-large;
    color: #f0f0f0;
  }

  .passenger button{
    height: 4vh;
    width: 30vw;
  }
  .x-cancel-btn{
    width: 10vw;
    height: 10vw;
    background-color: inherit;
    font-size: large;
  }

  .x-cancel-btn:hover{
    background-color: #3F4246;
  }

  #top-bar{
    height: 60px;
    width: 100%;
    background-color: #202024;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    z-index: 30;
    
  }
  .nav-block{
    width: 45px;
    height: 40px;
    background-color: #2C2E3A;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .three-dot-menu{
    height: inherit;
    width: inherit;
    background-color: #8E69F0;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .three-dot-menu div{
    height: 3px;
    width: 3px;
    background-color: #fff;
    border-radius: 50%;
  }

  .menu{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #202024;;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

  }
  .menu div{
    padding: 4px 10px;
    color: #ffffff;
  }
  .menu div:hover{
    background-color: #6b6a6a;
  }
  .menu div:last-child{
    color: #FF3A3A;
  }



  #chat-view{
    height: 75vh;
    position: absolute;
    bottom: 0;
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-color:  #202024;
    justify-content: flex-end;
    opacity: 1;
    border-radius: 15px;
    padding: 20px 40px;
    z-index: 1;
    
  }
  #utility-bar{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  #utility-bar button{
    margin: 0 10px;
  }
  #chat-area{
    height: 78%;
    overflow: scroll;
    
  }
.my-chat,.your-chat,.instruction{
  padding: 10px;
  margin:  10px 0;
  color: #1D1E21;
  min-height: 10vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.my-chat{
  background-color: #DFD1D1;

  
}
.your-chat{
  background-color: #ffffff;
 
}
.instruction{
 display: flex;
  background-color: #5A7093;
  color: #ffffff;
}
.instruction div:first-child
{
  width: 90%;
}  
.instruction div:last-child
{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction div:last-child:hover
{
 background-color: #0056b3;
} 

#chat-input-div{
    height: 12%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
  }

  #chat-input{
    width: 85%;
    height: 80%;
    border-radius: 30px;
    background-color: #5A5A5A;
    color: #f0f0f0;
  }

  .chat-focus-btn{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #5A7093;
    position: absolute;
    right: 10px;
    bottom: 60px;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mention-suggestion{
    width:60vw;
    background-color:#1D1E21;
    color: #ffffff;
  }
  .mention-suggestion div{
    padding: 2px 10px;
  }
  .mention-suggestion div:hover{
    background-color: #78A9FA;
  }

  .round-btn{
    width: 30px ;
    height: 30px;
    border-radius: 50%;
  }
  .survey{
    width: 300px;
    padding: 5px;
    background-color: #4A4A4A;;
    position: absolute;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
    z-index: 10;
  }

  .survey div{
    text-align: left;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 15px;
    
  }
  .survey div:hover{
    background-color: #888e91;
  }
  .tinder-swipe-card{
    height: 40vh;
    width: 80vw;
    background-color: #4A4A4A;
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    /* top: -20vh;
    left: -35vw; */
  }
  .tinder-swipe-card-button-container{
      position: absolute;
      bottom: -5vw;
      left: 0;
      height: 10vw;
      width: inherit;
      display: flex;
      justify-content: space-around;
      padding:0 40px;
      align-items: center;
  
  }
  .tinder-swipe-card button{
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    background-color: #f0f0f0;
  }
  .tinder-swipe-card button:first-child{
    background-color: #FF3A3A;
  }
  .tinder-swipe-card button:last-child{
    background-color: #47c153;
  }
   
  .tinder-swipe-card button:hover{
    opacity: 0.8;
  }
  .profile-image{
    height: 50%;
  }
  .tinder-swipe-card {
    font-size: small;
  }

  .message-box{
    background-color: #4A4A4A;
    position: absolute;
    bottom: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    border: 2px solid #4A4A4A;
  }
  #events {
    max-height: 80vh;
  }

  .search{
   height: 40px;
   width: 100%;
   background-color: #2D2F3C;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 30px;
   padding: 10px;
   margin-top: 20px;
  }
  .search input{
    height:30px;
    border: none;
    
    background-color: #2D2F3C;
    color: #f0f0f0;
  }

  .search input:hover{
    border: none;
  }

  .event-card{
    background-color: #18181A;
    width: 100%;
    max-height: 50vh;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
 
  .event-image{
    /* height: 65%; */
    border-radius: 20px;
   
  }
   .event-image img{
    width: 100%;
    height: 100%;
  }
  
  .event-details{
  
  height: 35%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  }
  .event-large-content{
    height: auto;
  }
  .loc-and-time,.name-and-date{
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .loc-and-time{
    padding-top: 5px 
  }
  .name-and-date{
    
  }
  .event-date{
    width: 40px;
    height: 40px;
    background-color: #FEFEFE;
    position: absolute;
    right: 16px;
    top: 20px;
    border-radius: 5px;
    color: #8E69F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: small;
  }

  .event-large-card{
    max-height: 60vh;
    width: 100%;
    background-color: #18181A;
    border-radius: 20px;
    margin-bottom: 22px;
  }
  .event-large-card-date{
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
   
  }
  .event-large-card-title{
    padding: 0 20px;
  }

  .about-and-features{
    flex: 1;
    width: inherit;
  }

  .about-event{
    min-height: 50%;
    width: inherit;
    padding: 10px;
  }
  .about-event{
    border-bottom: 20px ;
    background-color: #18181A;
    border-radius: 20px;
  }
  .event-features{
   
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: inherit;
   
  }
  .event-features-container{
 
    padding: 10px 0;
    flex: 1;
    display: flex;
    justify-content:flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .event-feature{
   min-width: 90px;
   height: 90px;
   /* max-height: 100%; */
   margin: 0 5px;
   background-color: #CCCCDA;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 2px;
   position: relative;
  }
  .feature-title{
    color: #8E69F0;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
  }
  .ef-img{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .ef-img img{
    max-width: 80%; /* Make the image responsive and maintain its aspect ratio */
    height: auto; 
  }


  .island{
    display: flex;
    height: 100%;
    width: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    

 
  }
  
  .island input{
    height: 40px;
    border-radius: 15px;
    background-color: #2D2F3C;
    color: #A0A3AF;
    border: none;
    width: 90%;
    position: relative;
  }
  .island-form{
    width: 100%;
    height: 100%;
    
    
  }
  .island-top,.island-bottom,.island-title,.island-para{
    position: absolute;
    top:10px;
    z-index:10;
  }
  .island-para{
    top:130px;
    padding: 0 40px;
  }
  .island-title{
  
    top:150px;
  
  }
  .island-top{
    top: 80px;
    display: flex;
    flex-direction: column;
  }
  .island-bottom{
    top: auto;
    bottom: 70px;
  }
  .role-info{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-left: 20px;
    margin-top: 20px;
  }
  .info{
    width: 65%;
    margin-left: 10px;
  }
  .learn-more{
    color: #8E69F0;
    text-decoration: underline;
  }


  .swipe-card{
    border-radius: 15px;
    background-color: #D9D9D9;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 0;
  }

  .swipe-card-profile{
    min-height: 40px;
    min-width: 40px;
    background-color: #7BACFF6E;
    margin: 0 5px;
    border-radius: 100% ;
  }
  .swipecard-detail-1, .swipecard-detail-2{
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    margin-right: 8px;
    
  }
  .swipecard-detail-2{
    width: 25%;
  }

  .message-div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    border-radius: 20px;
    background-color: #18181A;
    padding: 15px 15px;
    margin-bottom: 20px;
  }

  .alt-nav, .alt-nav-pooler{
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 40;
    background-color: #2C2E3A;
  }
 

  .alt-nav-pooler{
    top: 24px;
  }

  .event-form{
    width: 100%;
  
    margin-top: 10px;
    display: g;
  }

  .form-type-1{

  }

  .form-type-1-input, .form-type-E-input{
    background-color: #202024;
    border: none;
    padding: 0;
    height: fit-content;
    width: 100%;
    resize: none;
  }

  .form-type-1-input:focus, .form-type-E-input:focus{
    outline: none;
    
  }

  .form-type-E-input{
   width: 100%;
   height: auto;
  }